<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li id="new_product_link">
      <%= button_link_to t("new_snippet"), create_draft_admin_snippets_url, {:icon => 'add'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%=t("snippets") %></h1>

<table class="index">
	<tr>
		<th><%=t("snippets_slug")%></th>
		<th><%=t("action")%></th>
  </tr>
	<tbody>
    	<% @snippets.each do |snippet| %>
		<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id snippet %>">
			<td>
				<%= snippet.slug %>
			</td>
			<td>
        <%= link_to_edit snippet %> &nbsp;
        <%= link_to_delete snippet %>
	    </td>
		</tr>
		<% end %>
	</tbody>
</table>
