<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t("new_snippet") %></h1>

<%= render "spree/shared/error_messages", :target => @snippet %>

<%= semantic_form_for(:snippet, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
	<p class="form-buttons">
    <%= button t("actions.create"), nil, 'submit' %>
    <%= t("or") %> <%= link_to t("actions.cancel"), collection_url %>
  </p>
<% end %>
