<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("editing_snippet") %></h1>
<%= error_messages_for :snippet %>

<% form_for(:snippet, :url => object_url, :html => { :method => :put }) do |f| -%>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%=submit_tag t("update"), {"class" => "wymupdate"}%> or <%= link_to t("cancel"), admin_snippets_path%>
  </p>
<% end %>
